.my-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0rem 1rem;
    place-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--clr-bg-footer);
}
/* Section 1 */
.my-footer__main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
    margin-bottom: 1rem;
    /* Use max content to become responsive any width measure */
    /*height: max-content;*/
    width: 90vh;
}
.logo-article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;

    font-family: 'Carter One', cursive;
    font-size: 1.35rem;
    text-transform: capitalize;
    box-sizing: border-box;
}
.logo-article__image{
    width: 3rem;
    margin-right: 0.5rem;
}
.logo-article__tittle--dark{
    color: var(--clr-bg-nav);
}
.logo-article__paragraph{
    margin-bottom: 0.7rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.20rem;
    font-weight: normal;
    color: var(--clr-bg-nav);
}

/* Section 2 */
.my-footer__contact{
    display: flex;
    width: 55vh;
    margin-bottom: 1rem;
    place-content: center;
}
.contact-article,
.social-article{
    padding: 0rem 1rem;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.20rem;
    font-weight: normal;
    color: var(--clr-bg-nav);
}
.contact-article__content,
.social-article__content{
    margin: 1.2rem 0rem;
}
.contact-article__content-link,
.social-article__content-link{
    text-decoration: none;
    color: var(--clr-bg-nav);
    transition: color 1s;
}
.contact-article__content-link:active,
.social-article__content-link:active{
    text-decoration: none;
    color:var(--clor-nav-active);
}
.social-article__container-icons{

}
.social-article__icons{
    width: 2.6rem;
    margin: 0rem 0.2rem;
}

/* Modifiers */
._bolder{
    font-weight: bolder;
    font-size: 1.20rem;
}
